# ignore elements inside data directory
/data/*

# ignore all virtual environments
/.venv/*
/VENV/*

# ignore jupyter notebooks checkpoints and outputs
*.ipynb_checkpoints/*

# ignore all outputs directories
/outputs/*
/data
